<style>
    nav {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        width: auto;
        background-color: #F0DD95;
        padding-right: 15px;
        border-radius: 5px;
    }

    nav a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }
</style>
<header>
    <nav class="electronics-nav">
        <ul>
            <% if (session && session.user) { %>
                Welcome, <%= session.user.username %>! |
                <a href="/users/leaderboard">Leaderboard</a> |

                <% 
                const orderedKeys = Object.keys(skillNum).sort(); // Obtén y ordena las claves
                %>
                <% for (let set of orderedKeys) { %>
                  <a href="/skills/<%= set %>"> <%= set.charAt(0).toUpperCase() + set.slice(1) %> (<%= skillNum[set] %>)</a> |
                <% } %>

                <a href="/users/about">About</a> |
                <% if (session.user.admin) { %>
                    <a href="/admin/dashboard">Admin Dashboard</a> |
                <% } %>

                <a href="/users/logout">Logout</a>
            <% } else { %>
                <a href="/users/login">Login</a> |
                <a href="/users/register">Register</a> |
                <a href="/users/about">About</a>
            <% } %>
        </ul>
    </nav>
</header>