<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login view</title>
</head>

<body>
    <style>
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input {
            margin: 10px;
            padding: 5px;
            width: 200px;
        }

        label {
            text-align: left;
        }

        #error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
    <%- include('partials/username-display') %>
    <%- include('partials/messages') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col">
                <a href="/auth/google"><button>Login with Google</button></a>
                <form id="register-form" action="/users/login" method="POST">
                    <h1>Login</h1>
                    <label>Username:</label>
                    <input id="username" type="text" name="username" required>
                    <br>
                    <label>Password:</label>
                    <input id="password" type="password" name="password" required>
                    <br>
                    <button type="submit" value="Login"> Login</button>
                    <br>
                    <label>Don't have an account?<a href="/users/register">Register here</a></label>
                    <p id="error-message"></p>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>