<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <style>
        h1 {
            text-align: center;
            margin: 50px;
        }
        table{
            width: 20%;
            margin-left: auto;
            margin-right: auto;

        }
        h2 {
            text-align: center;
            margin: 25px;
        }
        
   
       b{
              margin-left: 40%;
       }
        
    </style>
</head>
<body>
    <h1>Manage Users</h1>

    <table>
        <tr>
            <th>Username</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
        <tr>

        </tr>
    </table>

    <h2> Change Password</h2>
  <b> New Password: </b>  <input type="password" id="newPassword" name="newPassword" required> <button>Change Password</button>
</body>
</html>