<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f9f9f9;
        }

        .container {
            width: 300px;
            background: #ffffff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        form label {
            margin-bottom: 5px;
            font-size: 14px;
        }

        form input {
            margin-bottom: 10px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        form button {
            background-color: #007BFF;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        form button:hover {
            background-color: #0056b3;
        }

        .login-link {
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
        }

        .login-link a {
            color: #007BFF;
            text-decoration: none;
        }

        .login-link a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <%- include('partials/username-display') %>
    <div class="container">
        <%- include('partials/messages') %>

        <form id="register-form" action="/users/register" method="POST">
            <h1 style="text-align: center;">Register</h1>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" required>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" required>
            <label for="password2">Confirm Password:</label>
            <input id="password2" type="password" name="password2" required>
            <button type="submit">Register</button>
        </form>
        <div class="login-link">
            Already have an account? <a href="/users/login">Login here</a>
        </div>
    </div>
</body>

</html>
